{
	
	"influx": {
		"enabled": true,
		"prefix": false,
        "user" : "",
        "pass" : "",
		"ip": "localhost",
		"port": "8086",
        "table": "mydb"
	},

	"unisphere": 
		{

			"ip": "<IP>",
			"user": "<username>",
			"password": "<password>!",
			"port": "8443",
			"version": 8,
			"symmetrix": [
				{ "sid": "<symID>" },
				{ "sid": "<symID>" },
				{ "sid": "<symID>"}
			]
		}
	,
    
    "metrics" : [
        "MB_READ_PER_SEC",
        "MB_WRITE_PER_SEC",
        "IO_RATE",
        "HA_MB_PER_SEC",
        "READ_HIT_PER_SEC",
        "WRITE_HIT_PER_SEC"
        ]
    }